[submodule "0x1A-application_server/0x1A-application_server/AirBnB_clone_v2"]
	path = 0x1A-application_server/0x1A-application_server/AirBnB_clone_v2
	url = https://github.com/melattgirmay/AirBnB_clone_v2.git
